
<div class="shelf-container" :style="{height:shelf_height +'px'}">
    <div class="shelf-top">
        <div class="shelf-switch"></div>
        <a href="/search">
            <div class="shelf-top-search">输入书名/作者/关键字</div>
        </a>
    </div>
    <ul class="shelf-book">
        <li class="shelf-book-info">
            <a href="/book?id=18218"><img src="http://cover.read.duokan.com/mfsv2/download/s010/p013tbj5VWhS/oXS018YtCYsoH4.jpg" alt="驭房有术"></a>
            <div class="shelf-book-info-sum">
                <h3>春闺记事</h3>
                <p class="info-author">铁锁</p>
                <p class="info-read">已读：第16章 不兑了,跟我回家去</p>
                <p class="info-last">最新：第2319章 带走</p>
            </div>
        </li>
        <li class="shelf-book-info">
                <a><img src="http://cover.read.duokan.com/mfsv2/download/s010/p013tbj5VWhS/oXS018YtCYsoH4.jpg" alt="驭房有术"></a>
                <div class="shelf-book-info-sum">
                    <h3>春闺记事</h3>
                    <p class="info-author">铁锁</p>
                    <p class="info-read">已读：第16章 不兑了,跟我回家去</p>
                    <p class="info-last">最新：第2319章 带走</p>
                </div>
        </li>
        <li class="shelf-book-info">
                <a><img src="http://cover.read.duokan.com/mfsv2/download/s010/p013tbj5VWhS/oXS018YtCYsoH4.jpg" alt="驭房有术"></a>
                <div class="shelf-book-info-sum">
                    <h3>春闺记事</h3>
                    <p class="info-author">铁锁</p>
                    <p class="info-read">已读：第16章 不兑了,跟我回家去</p>
                    <p class="info-last">最新：第2319章 带走</p>
                </div>
        </li>
        <li class="shelf-book-info">
                <a><img src="http://cover.read.duokan.com/mfsv2/download/s010/p013tbj5VWhS/oXS018YtCYsoH4.jpg" alt="驭房有术"></a>
                <div class="shelf-book-info-sum">
                    <h3>春闺记事</h3>
                    <p class="info-author">铁锁</p>
                    <p class="info-read">已读：第16章 不兑了,跟我回家去</p>
                    <p class="info-last">最新：第2319章 带走</p>
                </div>
        </li>
        <li class="shelf-book-info">
                <a><img src="http://cover.read.duokan.com/mfsv2/download/s010/p013tbj5VWhS/oXS018YtCYsoH4.jpg" alt="驭房有术"></a>
                <div class="shelf-book-info-sum">
                    <h3>春闺记事</h3>
                    <p class="info-author">铁锁</p>
                    <p class="info-read">已读：第16章 不兑了,跟我回家去</p>
                    <p class="info-last">最新：第2319章 带走</p>
                </div>
        </li>
        <li class="shelf-book-info">
                <a><img src="http://cover.read.duokan.com/mfsv2/download/s010/p013tbj5VWhS/oXS018YtCYsoH4.jpg" alt="驭房有术"></a>
                <div class="shelf-book-info-sum">
                    <h3>春闺记事</h3>
                    <p class="info-author">铁锁</p>
                    <p class="info-read">已读：第16章 不兑了,跟我回家去</p>
                    <p class="info-last">最新：第2319章 带走</p>
                </div>
        </li>
    </ul>
</div>
